body {
    font-family: 'Lato', sans-serif;
}

.app {
    border: 1px solid;
    padding: 20px;
}

.questions {
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.answers {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-gap: 20px;
    justify-content: space-around;
}

.btns {
    width: 100px;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    background: #5987ce;
}

.modal-container {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 8px;
    left: 8px;
    width: 97.6%;
    height: 48.5vh;
    user-select: none;
    border: none;
    display: flex;
    margin: auto;
}

.modal-container::after {
    content: 'X';
    /* position: absolute;
    top: 40%;
    right: 18%;
    background: chocolate;
    padding: 8px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 20px;
    line-height: 1; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    font-size: 20px;
    background-color: #5987ce;
    color: #fff;
    position: absolute;
    top: 40%;
    right: 17%;
    cursor: pointer;
}

.modal-content {
    background: #fff;
    width: 60%;
    margin: auto;
    max-width: 600px;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}